{% extends 'tracker/base.html' %}

{% block content %}

<h2 class="mb-3">Subscriptions</h2>

<table class="table table-bordered table-striped">

    <thead class="table-dark">
        <tr>
            <th>Client</th>
            <th>Start Date</th>
            <th>Expiry Date</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>

        {% for s in subscriptions %}
        <tr>
            <td>{{ s.client.name }}</td>
            <td>{{ s.start_date }}</td>
            <td>{{ s.expiry_date }}</td>
            <td>{{ s.amount_paid }}</td>
            <td>{{ s.payment_status }}</td>
        </tr>
        {% endfor %}

    </tbody>

</table>

{% endblock %}